<mat-card-content>
  <div class="SpinnerHighcharts">
    <div class="waviy">
      <span style="--i: 1">c</span>
      <span style="--i: 2">a</span>
      <span style="--i: 3">r</span>
      <span style="--i: 4">g</span>
      <span style="--i: 5">a</span>
      <span style="--i: 6">n</span>
      <span style="--i: 7">d</span>
      <span style="--i: 8">o</span>
    </div>
    <div>
      <mat-progress-spinner
        class="spinnerHighcharts"
        mode="indeterminate"
        appSpinnerColor="#28a745"
        diameter="200"
      >
      </mat-progress-spinner>
    </div>
  </div>
</mat-card-content>
