<div #mapContainer id="map" class="map">
  <!-- app filtro de estaciones -->
  @if (isGraphVisible && infoStation) {
  <div class="graphData">
    <div class="container-button-close">
      <div class="station-code">
        <strong>Estación:</strong>
        {{ infoStation.punto_obs }} ({{ infoStation.codigo }})
      </div>

      <button
        mat-mini-fab
        color="warn"
        (click)="isGraphVisible = false"
        class="btnX"
        title="Cerrar"
      >
        X
      </button>
    </div>

    <app-meteo-hidro [infoStation]="infoStation"></app-meteo-hidro>
  </div>
  }

  <app-config-map
    (eventSendData)="reloadMarkersStation($event)"
    class="configEstaciones"
    [hidden]="!isConfigMapVisible"
    (closeConfig)="isConfigMapVisible = false"
  ></app-config-map>

  @if(!isLegendVisible){
  <app-station-description class="legendStations"></app-station-description>
  }

  <!-- logo INAMHI -->
  <div class="logoINAMI">
    <img [src]="inamhiLogo.path" [alt]="inamhiLogo.name" />
  </div>

  <!-- Botones de control en la izquierda -->
  <div class="control-buttons-left">
    <div class="ol-control control-button">
      <button
        class="bx bx-search bx-sm"
        (click)="toggleView('searchStation')"
      ></button>
    </div>

    <div class="ol-control control-button">
      <button
        class="bx bx-cog bx-sm"
        (click)="toggleView('configMap')"
      ></button>
    </div>

    <div class="ol-control control-button">
      <button
        class="bx bx-info-circle bx-sm"
        (click)="isLegendVisible = !isLegendVisible"
      ></button>
    </div>

    <div class="ol-control control-button">
      <button
        class="bx bx-water bx-sm"
        (click)="toggleView('layersHidro')"
      ></button>
    </div>
  </div>

  <div class="layer-config" [hidden]="!isHydroLayerVisible">
    <h2 class="layer-config__title">Cuencas</h2>
    <p class="layer-config__subtitle">Elige las capas que deseas visualizar:</p>

    @for (hidro of geoHidros; track hidro.id) {
    <mat-checkbox
      class="layer-option"
      [value]="hidro.id.toString()"
      (change)="toggleLayerSelection($event, hidro)"
      [checked]="selectedHydroFeatures.includes(hidro)"
    >
      {{ hidro.name }}
    </mat-checkbox>
    }
  </div>

  @if(isSearchMarkerVisible){
  <div class="div-searchMarker">
    <app-search-marker (keydown)="onKeydown($event)"></app-search-marker>
  </div>

  }
</div>

<!-- Botones a la derecha -->
<div #btnRef class="ol-control buttons-control-right">
  <div class="ol-control div-btn-layer-right">
    @if (!isSelectDropdownVisible) {
    <button
      class="bx bxs-layer bx-sm div-btn-layer-right"
      (mouseenter)="isSelectDropdownVisible = true"
      [hidden]="!isSelectDropdownVisible"
    ></button>
    }
  </div>

  @if (isSelectDropdownVisible) {
  <div
    class="container-opt-layers"
    (mouseenter)="isSelectDropdownVisible = true"
    (mouseleave)="isSelectDropdownVisible = false"
  >
    @for (item of opt_layers_radio; track item.id) {
    <label>
      <input
        type="radio"
        [value]="item.id"
        [formControl]="layerSelectionControl"
        (change)="onChangeBaseLayer(item.value)"
      />
      {{ item.name }}
    </label>
    }
  </div>
  }
</div>
