/* map.component.css */
.map {
  width: 100%;
  height: calc(100vh - 2.2rem);
  position: absolute;
}

.buttons-control-right {
  position: absolute; /* Posicionamiento absoluto para los botones */
  top: 10px; /* Alineación vertical */
  display: flex; /* Organizar botones en fila */
  flex-direction: column; /* Los botones se apilan verticalmente */
}

/*  */
.div-searchMarker {
  position: absolute;
  z-index: 999;
  top: 3.6rem;
  left: 3.2rem;
}
/*  */
/* Contenedor de botones de control en la izquierda */
.control-buttons-left {
  position: absolute;
  z-index: 999;
  top: 3rem;
  left: 8px;
}

/* Estilos comunes para cada botón de control */
.control-button {
  position: absolute;
}

/* Posiciones específicas para cada botón usando nth-child */
.control-button:nth-child(1) {
  top: 0.5rem;
}

.control-button:nth-child(2) {
  top: 3rem;
}

.control-button:nth-child(3) {
  top: 5.5rem;
}

.control-button:nth-child(4) {
  top: 8rem;
}

/*  */

.buttons-control-right {
  right: 7px;
}

.div-btn-layer-right {
  top: 1.5rem;
  right: 0;
}

.bx-water.clicked {
  color: rgb(0, 102, 204);
}

.container-opt-layers {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  right: 0.15rem;
  z-index: 100;
  top: 2rem;
  width: 100px;
}

/*
  Estilos para div de opciones config estaciones
  */

.configEstaciones {
  z-index: 999 !important;
  position: absolute;
  top: 6rem;
  left: 3rem;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0 10px 0 10px;
  border-radius: 1rem;
  height: 350px;
  max-height: 600px;
  overflow-y: auto;
  width: 290px;
  font-size: 12px;
}

/*  */
/* Contenedor de configuración de capas */
.layer-config {
  z-index: 999 !important;
  position: absolute;
  top: 6rem;
  left: 3rem;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* Título y subtítulo de la configuración de capas */
.layer-config__title,
.layer-config__subtitle {
  text-align: center;
}

.layer-config__title {
  font-weight: bold;
  color: #333;
}

.layer-config__subtitle {
  font-size: 14px;
  color: #555;
}

/* Opción de capa individual */
.layer-option {
  display: flex;
}

/*  */

/*Estilos para la leyenda de las estaciones */
.legendStations {
  width: auto;
  height: auto;
  z-index: 999 !important;
  position: absolute;
  bottom: 1.2rem;
  right: 0.6rem;
}

/*Estilo botones*/
.bx-info-circle {
  color: #007ab4;
}

/*
  Logo INAMHI
  */
.logoINAMI {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  margin: 0;
}

.logoINAMI img {
  width: 200px;
}

/*
  Estilos para el grafico
  */
.graphData {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: calc(95vw - 160px);
  height: 90vh;
  z-index: 1000 !important;
}

.container-button-close {
  background-color: rgb(208, 208, 208);
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  border-radius: 5px 5px 0 0;
}
.btnX {
  height: 25px;
  width: 25px;
  margin: 2px 5px 2px 0;
}

.station-code {
  flex-grow: 1;
  text-align: center; /* Centrar el texto */
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .logoINAMI img {
    width: 120px !important;
  }
}

@media (max-height: 700px) {
  .logoINAMI img {
    width: 150px !important;
  }
}
