.title {
  text-align: center;
  margin-top: 5rem;
  padding: 1rem;
}
.zonaDescarga {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.example-card {
  margin: 30px;
  width: 300px;
}

.card-header {
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.card-content {
  text-align: justify;
  padding: 1rem;
}
.card-actions {
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .example-card {
    width: 100%;
  }
}
