<ng-container>
  <app-header (toggleEventEmiter)="toggleMenu()" class="header"> </app-header>
</ng-container>
<mat-sidenav-container autosize>
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
  >
    <div class="sidenav-content">
      @if(!isCollapsed){

      <!-- Logo Section -->
      <div class="container-logo-menu">
        <a href="./">
          <img
            src="./assets/logos/header/icono-header-white.png"
            alt="INAMHI Logo"
        /></a>
      </div>

      <!-- Login Section -->
      <div class="containerLogin">
        <div class="logoUser">
          <i class="bx bx-user bx-custom-size bx-border-circle"></i>
        </div>

        <div class="containerbtnLogin">
          <button class="login-btn" (click)="authenticate()">
            <span>{{ islogueado ? "Cerrar sesión" : "Iniciar sesión" }}</span>
          </button>
        </div>
      </div>
      }

      <app-menu
        [isCollapsed]="isCollapsed"
        (changeComponentEventEmitter)="changeComponent($event)"
      ></app-menu>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (spinnerStatus) {
    <app-spinner class="HighchartsSpinner"></app-spinner>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
