:root{
  --inamhi-blue-700: #174ea6;  /* azul profundo */
  --inamhi-blue-500: #1e88e5;  /* azul vivo (INAMHI-like) */
  --inamhi-teal-500: #0aa67f;  /* teal del banner */
  --inamhi-green-400: #66cc88; /* verde suave */
}
