.form-login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login {
  margin: 0 1rem;
  background-color: rgba(233, 233, 233, 0.822);
  padding: 1rem;
  border-radius: 10px;
}
.form-login h1 {
  text-align: center;
  padding: 1rem 0;
}

.logoUser {
  color: #012a4a !important;
  text-align: center;
  margin: 10px 0;
}
.logoUser i {
  background-color: white;
}
.bx-custom-size {
  font-size: 80px;
}

mat-form-field {
  width: 100%;
  margin-top: 1rem;
}

.btn-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-login-container button {
  width: 100%;
  max-width: 300px;
  margin-top: 1rem;
}
