<div class="config-panel">
  <fieldset>
    <legend>Tipo de medición</legend>
    @for (option of captorOptions(); track option.id) {
      <label class="filter-option">
        <input
          type="checkbox"
          [checked]="isChecked(filters.captors, option.id)"
          (change)="onCheckboxChange($event, option.id, 'captors')"
        />
        {{ option.label | titlecase }}
      </label>
    }
  </fieldset>

  <fieldset>
    <legend>Estado transmisión</legend>
    @for (option of stateOptions(); track option.id) {
      <label class="filter-option">
        <input
          type="checkbox"
          [checked]="isChecked(filters.states, option.id)"
          (change)="onCheckboxChange($event, option.id, 'states')"
        />
        {{ option.label | titlecase }}
      </label>
    }
  </fieldset>

  <fieldset>
    <legend>Categoría</legend>
    @for (option of categoryOptions(); track option.id) {
      <label class="filter-option">
        <input
          type="checkbox"
          [checked]="isChecked(filters.categories, option.id)"
          (change)="onCheckboxChange($event, option.id, 'categories')"
        />
        {{ option.label | titlecase }}
      </label>
    }
  </fieldset>
</div>
