mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
  height: 40px;
  background-image: linear-gradient(
    to left,
    #012a4a,
    #012a4a,
    #012a4a,
    #17344c,
    #1f384d,
    #263c4e,
    #2d404f,
    #012a4a,
    #012a4a,
    #052c4a,
    #092e4b,
    #0e304b
  );
}

mat-toolbar button {
  margin-left: -5px;
}
.btnMenu {
  background: #fff;
  text-align: center;
  width: 35px;
  border-radius: 0.313rem;
  height: 30px;
  cursor: pointer;
  border: none;
  color: #2d404f;
}

.btnMenu:hover {
  transition-duration: 0.1s;
  background-color: rgb(180, 180, 180);
}
.mat-toolbar-title {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
}
