<div class="form">
  <div class="titleCardFormDate">Seleccione máximo {{ maxRangeDays }} días</div>
  <form
    [formGroup]="dateRangeForm"
    class="formDate"
    (ngSubmit)="sendRangeForm()"
    #f="ngForm"
  >
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Fecha inicio / Fecha Final</mat-label>
        <mat-date-range-input
          [formGroup]="dateRangeForm"
          [rangePicker]="picker"
          [max]="maxDate"
        >
          <input
            matStartDate
            formControlName="fromDate"
            placeholder="Start date"
            required
          />
          <input
            matEndDate
            formControlName="toDate"
            placeholder="End Date"
            required
            (dateChange)="validateDate()"
          />
        </mat-date-range-input>

        <mat-hint>DD/MM/AAAA – DD/MM/AAAA</mat-hint>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <!-- Invalid Date Messages -->

        @if (dateRangeForm.get('fromDate')?.errors?.['matStartDateInvalid']) {
        <mat-error>Fecha incial no valida</mat-error>
        } @if (dateRangeForm.get('toDate')?.errors?.['matEndDateInvalid']) {
        <mat-error>Fecha final no valida</mat-error>
        }

        <!-- Required Date Messages -->
        @if (dateRangeForm.get('fromDate')?.errors?.['required']) {
        <mat-error>Fecha de inicio es requerido</mat-error>
        } @if (dateRangeForm.get('toDate')?.errors?.['required']) {
        <mat-error>Fecha final es requerido</mat-error>
        }
      </mat-form-field>
    </mat-card-content>

    <button
      class="btn-search"
      type="submit"
      [disabled]="dateRangeForm.invalid || !isValidDateRange"
    >
      Consultar
    </button>
  </form>
</div>
