.form {
  background-color: whitesmoke !important;
  margin: 0 1rem;
  padding: 0.2rem;
  border-radius: 10px;
}
.formDate {
  display: flex;
  align-items: center;
}

.titleCardFormDate {
  text-align: center;
  font-weight: bold;
}

.formDate mat-form-field {
  font-size: 12px;
  flex: 1 1 auto;
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
  .formDate {
    flex-direction: column; /* Cambia la dirección del flex a columna */
  }
  .formDate mat-form-field {
    /* Ajustes adicionales para los campos de formulario en móviles */
    width: 100%; /* Hace que los campos de formulario ocupen todo el ancho disponible */
    margin: 5px 0; /* Añade un pequeño margen vertical entre los campos */
  }
}