.configEstaciones-title {
  text-align: center;
}
.configEstaciones-title p {
  font-weight: bold;
  padding-top: 5px;
}
.form-config,
.categories {
  display: flex;
  flex-direction: column;
}
.checkbox-group {
  flex-wrap: wrap;
  margin-bottom: -5px;
  margin-top: -10px;
}

.select-network,
.checkbox-group {
  display: flex;
  justify-content: space-between;
}

.checkbox-column {
  flex: 1 1 50%;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-select-panel {
  margin-top: 2.5rem;
}
