<div class="container-button-close">
  <button mat-mini-fab color="warn" class="btnX" (click)="onClose()">X</button>
</div>

<!-- OPCIONES CONFIGURACION MAPA -->
<div class="configEstaciones-title">
  <p>Configuración estaciones</p>
</div>

<form [formGroup]="FormConfigStation" class="form-config">
  <div class="select-network">
    <mat-form-field appearance="fill">
      <mat-label>Selecciona la red de estaciones</mat-label>
      <mat-select
        formControlName="station_network"
        (selectionChange)="changeItemFilter()"
      >
        <mat-option [value]="0">Todas las estaciones</mat-option>
        @for(network of stationNetwork; track $index){
        <mat-option [value]="network.id_propietario">
          {{ network.propietario }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div formArrayName="station_captor" class="categories">
    <div class="configEstaciones-title"><p>Tipo de medición</p></div>

    <div class="checkbox-group">
      @for (category of station_captor;track $index){
      <div class="checkbox-column">
        <mat-checkbox
          [formControlName]="$index"
          (change)="changeItemFilter()"
          >{{ category.name }}</mat-checkbox
        >
      </div>
      }
    </div>
  </div>

  <div formArrayName="station_status" class="categories">
    <div class="configEstaciones-title"><p>Estado transmisión</p></div>

    <div class="checkbox-group">
      @for (status of station_status; track $index){
      <div class="checkbox-column">
        <mat-checkbox
          [formControlName]="$index"
          (change)="changeItemFilter()"
          >{{ status.name }}</mat-checkbox
        >
      </div>
      }
    </div>
  </div>

  <div formArrayName="station_type" class="categories">
    <div class="configEstaciones-title"><p>Tipo de estación</p></div>

    <div class="checkbox-group">
      @for (st_type of station_type; track $index){
      <div class="checkbox-column">
        <mat-checkbox
          [formControlName]="$index"
          (change)="changeItemFilter()"
          >{{ st_type.name }}</mat-checkbox
        >
      </div>
      }
    </div>
  </div>
</form>
