.configEstaciones-title {
  text-align: center;
}
.configEstaciones-title p {
  font-weight: bold;
  padding-top: 5px;
}
.form-config,
.categories {
  display: flex;
  flex-direction: column;
}
.checkbox-group {
  flex-wrap: wrap;
  margin-bottom: -5px;
  margin-top: -10px;
}

.select-network,
.checkbox-group {
  display: flex;
  justify-content: space-between;
}

.checkbox-column {
  flex: 1 1 50%;
  box-sizing: border-box;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-select-panel {
  margin-top: 2.5rem;
}

.container-button-close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.btnX {
  background-color: red;
  color: white;
  width: 25px;
  height: 25px;
  transition: background-color 0.3s ease; /* Transición suave */
}

.btnX:hover {
  background-color: darkred; /* Color más oscuro al hacer hover */
}
