mat-nav-list {
  max-width: 240px;
}

.custom-list-item {
  margin-top: 15px;
}

mat-icon {
  color: #fff;
  flex-shrink: 0;
}

.btn-title {
  color: #fff;
  margin-left: 10px;
  white-space: initial;
  text-align: center;
  font-size: 15px;
}
