.cardGraphData {
  z-index: 1 !important;
  position: fixed !important;
  padding: 0 !important;
  width: 100%;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  height: 620px;
  max-height: 700px;
}

.headergraphData {
  margin-top: 0.3rem !important;
  text-align: center;
  margin-bottom: -10px;
  height: 60px;
}

.headergraphData mat-form-field {
  width: 80%;
  height: 70px !important;
}

.headergraphData mat-label {
  text-align: center;
}
/*
Estilos figuras con plotly
*/

.figurePlotly {
  width: 100%;
  height: 600px;
  margin-top: -10px;
}

.figurePlotlyCelec {
  width: 100%;
  height: calc(95vh - 100px);
}

/* div form date*/
.container-form-date {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
/* para exportar como csv*/
.button-container {
  margin-right: 10px;
}
.button-container button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.button-container button {
  border: 1px solid #477475;
  color: #477475;
}

#dataStation {
  min-height: 400px;
  max-height: 600px;
  height: 100%;
}

@media all and (max-width: 480px) {
  .graphData {
    left: 52%;
    width: 345px;
  }
  .figurePlotly {
    height: 70vh;
  }
}

@media (max-height: 700px) {
  .figurePlotly {
    height: calc(85vh - 100px);
  }
}

@media (max-width: 1000px) and (max-height: 500px) {
  .headergraphData {
    margin-bottom: 0;
    margin-top: 0;
  }
  .figurePlotly {
    height: calc(70vh - 100px);
  }
}

@media (min-height: 700px) {
  .graphData {
    top: 100px;
  }
}

@media (min-height: 800px) {
  .cardGraphData {
    height: 750px;
    max-height: 850px;
  }
}
